<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>RSNSOLD</display-name>
    <servlet>
        <description/>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketInquiryController</servlet-name>
        <servlet-class>controllers.TicketInquiryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartPaymentController</servlet-name>
        <servlet-class>controllers.PartPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartPaymentConfirmationController</servlet-name>
        <servlet-class>controllers.PartPaymentConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redemption</servlet-name>
        <servlet-class>controllers.Redemption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedemptionController</servlet-name>
        <servlet-class>controllers.RedemptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedemptionConfirmationController</servlet-name>
        <servlet-class>controllers.RedemptionConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayEndController</servlet-name>
        <servlet-class>controllers.DayEndController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayStartController</servlet-name>
        <servlet-class>controllers.DayStartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controllers.LogOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketInquiryController</servlet-name>
        <url-pattern>/TicketInquiryController</url-pattern>
    </servlet-mapping>
     
    <session-config>
		<session-timeout>15</session-timeout>
    </session-config>  
                     
    
    <servlet-mapping>
        <servlet-name>PartPaymentController</servlet-name>
        <url-pattern>/PartPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartPaymentConfirmationController</servlet-name>
        <url-pattern>/PartPaymentConfirmationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redemption</servlet-name>
        <url-pattern>/Redemption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedemptionController</servlet-name>
        <url-pattern>/RedemptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedemptionConfirmationController</servlet-name>
        <url-pattern>/RedemptionConfirmationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayEndController</servlet-name>
        <url-pattern>/DayEndController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayStartController</servlet-name>
        <url-pattern>/DayStartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
</web-app>
